body {
  background: #0f172a;
  font-family: Arial;
  color: white;
}

.chatbox {
  width: 70%;
  margin: 50px auto;
  background: #020617;
  border-radius: 12px;
  padding: 15px;
}

#messages {
  height: 400px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.You { color: #38bdf8; margin: 5px; }
.Bot { color: #22c55e; margin: 5px; }

.input-box {
  display: flex;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

button {
  margin-left: 10px;
  padding: 10px 20px;
  background: #10a37f;
  border: none;
  border-radius: 6px;
  color: white;
}
